stream {
{{ range $host, $containers := groupBy $ "Env.VIRTUAL_TCP_HOST" }}
        upstream {{ $host }} {
        {{ range $index, $value := $containers }}
            {{ with $address := index $value.Addresses 0 }}
            server {{ $address.IP }}:{{ $address.Port }};
            {{ end }}
        {{ end }}
        }

        server {
            listen 81;
            proxy_pass {{ $host }};
        }
{{ end }}        
}
